*{
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

header {
	font-size: 1em;
	color: white;
	display: inline-flex;
	margin: 0 auto;
	background-color: #5b7989;
	width: 100%;
	top: 0;
	padding: 1vh 1vw;
}

#titulo {
	width: 70%;
	padding-left: 2%;
	padding-top: 1%;
	float: left;
}

#menu-principal {
	width: 30%;
	float: right;
}

ul{
	padding-top: 1%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-right: 15%;
}

li{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
}

ul li a {
	color: white;
}

#imagenCentral {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color:  #82c3a6;
}

#imagenCentral figure img {
	width: 60%;
}


/* Imagen Central */

div [class*="bloque"]{
  min-height: 200px;
  min-width: 200px;
  flex: 1 2 50%;
}

#contenido {
	display: flex;
  	flex-flow: row wrap;
}

.boque1 {
	order: 1;
}

.bloque2 {
	order: 2;
}

.adaptativa-porcentaje{
	width:100%;
}

.adaptativa-porcentaje-1 {
	width: 70%;
}
.adaptativa-porcentaje-2 {
	width: 50%;
}
.adaptativa-porcentaje-3 {
	width: 20%;
}

footer {
	clear: both;
}