@font-face {
	font-family: 'Dancing Script';
	src: url('fonts/DancingScript-Regular.otf');
}

*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #02010a;
	font-family: 'Dancing Script', 'Great Vibes', cursive;
}

#contenido {
	margin: 0 auto;
	max-width: 900px;
}

header {
	font-size: 16px;
	color: white;
	display: inline-flex;
	flex-flow: row;
	margin: 0 auto;
	background-color: #5b7989;
	width: 100%;
	top: 0;
	border: 1px;
	border-radius: 10px 10px 0px 0px;
}

#logo {
	text-shadow: 2px 2px #02010a;
	width: 70%;
	padding: 2%;
	float: left;
}

#menu-principal {
	padding: 2%;
	width: 30%;
	float: right;
}

ul{
	padding-top: 1%;
  list-style-type: none;
  margin: 0;
  padding-right: 15%;
}

li{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
}

ul li a {
	text-decoration: underline;
	color: white;
}

a:hover, a:focus {
	text-decoration: none;
}


/* Imagen Central */

#imagenCentral {
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color:  #82c3a6;
	text-align: center;
}

#imagenCentral img {
	border: 2px solid #02010a;
	width: 80%;
}

/* Imagen Secundaria */

#ImagenSecundaria {
	text-align: center;
	padding-top: 2%;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
  	background-color: #d5c75f;
  	border: 1px;
}

#paisajes {
	order: 1;
	width: 50%;
}

#retratos {
	order: 2;
	width: 50%;
}


#ImagenSecundaria #paisajes img, #ImagenSecundaria #retratos img {
	max-height: 300px;
	border: 2px solid #02010a;
	width: 85%;
}

#ImagenSecundaria #paisajes img {
	transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

#ImagenSecundaria #paisajes img:hover {
	transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	border: 2px solid #82c3a6;
}

#ImagenSecundaria #retratos img {
	transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

#ImagenSecundaria #retratos img:hover {
	transform: translate( 20px, -5px);
	-webkit-transform: translate( 20px, -5px);
	-moz-transform: translate( 20px, -5px);
	border: 2px solid #82c3a6;
}


/* Pie de pagina */
footer {
	display: flex;
  	justify-content: center space-around;
  	flex-direction: row wrap;
  	height: 100%;
  	width: 100%;
	clear: both;
	background-color: #C6d5c5;
	border: 1px;
	border-radius: 0px 0px 10px 10px
}